body {
  /* background-image: url("Template.png"); */
  margin: 0;
  padding: 0;
  background-color: black;
}

#particles-js {
  width: 100%;
  height: 142.5rem;
  background: black;
}

.main_logo {
  transition: transform 0.2s;
}

.main_logo:hover {
  transform: scale(1.25);
}

.collapse {
  background-color: transparent;
}

.scitech {
  position: absolute;
  z-index: 10;
  font-family: "Bebas Neue", cursive;
  /* font-size: 2.7rem; */
  font-size: 1.8rem;
  left: 0;
  top: 20%;
  color: #fff;
}

.college {
  margin-left: 90%;
  text-align: right;
  color: #fff;
  /* font-size: 35px; */
  font-size: 20px;
}

.heading {
  position: absolute;
  top: 20%;
  height: 4%;
}

.navbar-toggler {
  position: absolute;
  top: 15%;
  /* left: 52%; */
  right: 5%;
}

/* @@@@@@@@@@@@@@@@navbar styling@@@@@@@@@@@@@@@@@ */
.navbar {
  position: fixed;
  top: 0%;
  width: 100%;
  padding-top: 2.5em;
  background: rgba(21, 19, 19, 0.9);
  height: 4%;
  padding-bottom: 2%;
  padding-left: 20%;
  padding-right: 20%;
  z-index: 50000;
  display: flex;
  justify-content: center; /* Center the navbar */
  align-items: center; /* Vertically align the navbar */
}

.nav-logo {
  height: 3rem;
  width: 3rem;
  -webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50%;
  color: #ffb600;
}

.nav-logo:hover {
  box-shadow: 0 0 0 3px #fff;
}

.nav-logo:hover::before {
  -webkit-transform: scale(0.925);
  -moz-transform: scale(0.925);
  -ms-transform: scale(0.925);
  -o-transform: scale(0.925);
  transform: scale(0.925);
  box-shadow: 0 0 0 1px #fff;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease;
}

.nav-logo:before {
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 25%;
  bottom: 0;
  box-shadow: 0 0 0 1px #fff;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.nav-item {
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, white 50%);
  height: 2%;
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding-top: 0.5%;
  padding-bottom: 0.3%;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in-out;
}

.nav-item:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 6%;
  transition: all 0.5s ease-in-out;
}

.nav-item:hover {
  background-position: 0;
}

.nav-item:hover::before {
  width: 100%;
}

.nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: coral;
  margin: auto;
  display: block;
}

nav-link:hover::after {
  width: 100%;
  transition: width 0.5s linear;
}

/* @@@@@@@@@@@@@@@@navbar styling ends@@@@@@@@@@@@@@@@@ */

#carouselExampleSlidesOnly {
  position: relative;
  top: 0%;
  width: 100%;
}

.d-block {
  max-height: 50vh;  /*just resized the carousel*/
}

.circle {
  width: 8vw;
  height: 8vw;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  border-radius: 4rem;
  border: 0.3rem white solid;
  background: black;
  z-index: 500;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  top: 21vw;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.frame {
  height: 40%;
  z-index: 1000;
}

.clubname {
  justify-content: center;
  text-align: center;
  width: 100%;
  position: relative;
}

.clubtitle {
  font-family: "Oswald", sans-serif;
  z-index: 10;
  color: white;
  font-size: 2.5vw;
  left: 0;
  right: 0;
  display: inline;
}

.handle_name-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.tagline {
  font-size: 2.5vw;
  color: aliceblue;
  width: 50%;
  height: 25%;
  text-align: right;
  padding-right: 4%;
  border-right: 5px solid white;
  line-height: 1;
  padding-top: 1.5%;
  font-family: "Rubik", sans-serif;
  font-weight: lighter;
  top: 120%;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.contact {
  display: flex;
  justify-content: space-around;
  font-size: 0.8vw;
  color: white;
  width: 50%;
  align-items: center;
}

.item {
  height: 3vw;
  width: auto;
}

.hr1 {
  border-top: 3px white solid;
  width: 60%;
  left: 15%;
  position: absolute;
  top: 12%;
  margin-top: 3%;
}

.aboutus {
  color: white;
  text-align: center;
  font-size: 2.5vw;
  font-family: "Rubik", sans-serif;
  position: relative;
  background-color: black;
  margin-top: 3%;
}

.clubdesc {
  color: white;
  position: relative;
  width: 100%;
}

.about {
  position: relative;
  /* font-size: 1.5vw;
  margin-top: 5vh;
  padding-left: 5vw;
  padding-right: 5vw; */
  font-size: 1.2rem;
  margin-top: 3vh;
  padding-left: 5vw;
  padding-right: 5vw; /*new size for text*/
}

.ourteam {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 2.5vw;
  color: white;
  background-color: black;
  font-family: "Rubik", sans-serif;
}

/* @@@@@@@@@@@@@@@@@@@@@ contact us image animation begins @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
#team {
  text-align: center;
  color: #f4f6f7;
  height: 10%;
  padding: auto 10vw;
}

#team .member-img {
  display: inline;
}

#team .member {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
}

#team .member .member-info {
  display: block;
  position: absolute;
  width: 100%;
  bottom: -200px;
  transition: 0.4s;
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.4);
}

#team .member:hover .member-info {
  bottom: 0px;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 16px;
  color: #fff;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .member .social-links {
  margin-top: 15px;
}

#team .member .social-links a {
  transition: none;
  color: #fff;
}

#team .member .social-links a:hover {
  color: #ffc107;
}

#team .member .social-links i {
  font-size: 18px;
  margin: 0 2px;
}

/* @@@@@@@@@@@@@@@@@@@@@ contact us image animation ends @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* @@@@@@@@@@@@@@@@@@@ footer begins @@@@@@@@@@@@@@@@@@@ */

.footer {
  position: relative;
  bottom: 0%;
  left: 0%;
  margin-top: 10vh;
  width: 100vw;
  height: 1vh;
  background-color: black;
}

.footer-text {
  /* font-size: 1.5vw; */
  font-size: 1rem;
}

/* @@@@@@@@@@@@@@@@@@@ footer ends @@@@@@@@@@@@@@@@@@@ */

/*@@@@@@@@@@@@@ RESPONSIVENESS FOR 1000PX @@@@@@@@@*/

@media screen and (width: 1280px) {
  .circle {
    height: 13vw;
    width: 13vw;
    top: 33vh;
  }
 
}

@media screen and (width: 912px) {
  .circle {
    height: 13vw;
    width: 13vw;
    top: 29vh;
  }
 
}

@media screen and (width: 1080px) {
  .circle {
    height: 13vw;
    width: 13vw;
    top: 41vh;
  }
 
}

@media screen and (max-width: 820px) {
  .circle {
    height: 13vw;
    width: 13vw;
    top: 30vh;
  }
 
}

@media screen and (max-width: 560px) {
  .circle {
    height: 15vw;
    width: 15vw;
    top: 42vw;
  }

  .frame {
    height: 50%;
    align-self: center;
  }

  .clubtitle {
    top: 60%;
    align-items: center;
    justify-content: center;
    font-size: 4.5vw;
  }

  .tagline {
    font-size: 3.5vw;
    /* adding-right: 2%;
    border-right: none;
    text-align: center;
    width: 100%;
    padding-top: 1%; */
  }

  .item {
    height: 5.4vw;
    width: auto;
    /* margin-left: 2%;
    margin-right: 2%; */
  }

  .ourteam {
    display: inline-block;
    font-size: 4.5vw;
    color: white;
    background-color: black;
    font-family: "Rubik", sans-serif;
  }

  .aboutus {
    font-size: 4.5vw;
  }

  .about {
    position: relative;
    font-size: 4.2vw;
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 7%;
  }

  .footer {
    position: relative;
    bottom: 0;
    left: 0%;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: black;
    height: 7%;
    font-size: 2vw;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-weight: bold;
    z-index: 200000;
  }

  .navbar {
    position: fixed;
    top: 0%;
    width: 100%;
    padding-top: 3em;
    background: rgba(21, 19, 19, 0.9);
    height: 3%;
    padding-bottom: 4%;
    /* padding-left: 44%;
    padding-right: 35%; */
    padding-left: 20%;
    padding-right: 10%;
    z-index: 4;
  }

  .college {
    display: none;
  }

  .collapse {
    background-color: rgba(21, 19, 19, 0.8);
  }

  .scitech {
    font-size: 28px;
  }
}

/* @@@@@@@@@@@@@@@@ responsiveness for tablets @@@@@@@@@@@@@ */

@media screen and (max-width: 760px) {
  .circle {
    height: 15vw;
    width: 15vw;
    top: 40vw;
  }

  .frame {
    height: 50%;
    align-self: center;
  }

  .clubtitle {
    top: 60%;
    align-items: center;
    justify-content: center;
    font-size: 4.5vw;
  }

  .tagline {
    font-size: 3.5vw;
    padding-right: 2%;
    border-right: none;
    text-align: center;
    width: 100%;
    padding-top: 1%;
  }

  .item {
    height: 5.4vw;
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
  }

  .ourteam {
    display: inline-block;
    font-size: 4.5vw;
    color: white;
    background-color: black;
    font-family: "Rubik", sans-serif;
  }

  .aboutus {
    font-size: 7.5vw;
  }

  .about {
    position: relative;
    font-size: 4.2vw;
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 7%;
  }

  .footer {
    position: relative;
    bottom: 0;
    left: 0%;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: black;
    height: 7%;
    font-size: 2vw;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-weight: bold;
    z-index: 200000;
  }

  .navbar {
    position: fixed;
    top: 0%;
    width: 100%;
    padding-top: 3em;
    background: rgba(21, 19, 19, 0.9);
    height: 3%;
    padding-bottom: 4%;
    /* padding-left: 44%;
    padding-right: 35%; */
    padding-left: 20%;
    padding-right: 10%;
    z-index: 4;
  }

  .college {
    display: none;
  }

  .collapse {
    background-color: rgba(21, 19, 19, 0.8);
  }

  .scitech {
    font-size: 28px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scitech {
  font-size: 18px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 10px;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@ MOBILE VIEW @@@@@@@@@@@@@@@@@*/
@media (max-width: 768px) {
  .circle {
    height: 15vw;
    width: 15vw;
    top: 40vw;
  }
  .frame {
    height: 50%;
    align-self: center;
  }

  .scitech {
    font-size: 28px;
  }

  .college {
    display: none;
  }

  .navbar {
    position: fixed;
    top: 0%;
    width: 100%;
    padding-top: 3em;
    background: rgba(21, 19, 19, 0.9);
    height: 5%;
    padding-bottom: 4%;
    padding-left: 20%;
    padding-right: 10%;
    z-index: 4;
  }

  .navbar-collapse {
    margin-right: 5%;
  }

  .contact .item {
    height: 1.2rem;
  }

  /* .contact {
    display: flex;
    justify-content: space-around;
    font-size: 0.8vw;
    color: white;
    width: 50%;
    align-items: center;
  } */
  
  .hr1 {
    border-top: 3px white solid;
    width: 60%;
    left: 15%;
    position: absolute;
    top: 12%;
    margin-top: 3%;
  }
  
  /* .aboutus {
    color: white;
    text-align: center;
    font-size: 3.5vw;
    font-family: "Rubik", sans-serif;
    position: relative;
    background-color: black;
    margin-top: 3%;
  } */
  
  .clubdesc {
    color: white;
    position: relative;
    width: 100%;
  }
  
  .about {
    position: relative;
    /* font-size: 1.5vw;
    margin-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw; */
    font-size: 0.8rem;
    margin-top: 3vh;
    padding-left: 5vw;
    padding-right: 5vw; /*new size for text*/
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .clubtitle {
    top: 60%;
    align-items: center;
    justify-content: center;
    font-size: 3.5vw;
  }

  .tagline {
    font-size: 3.3vw;
    padding-right: 1%;
    border-right: 3px solid white;
    text-align: center;
    width: 50%;
    padding-top: 1%;
  }

  .item {
    height: 5.4vw;
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
  }

  .ourteam {
    display: inline-block;
    font-size: 3.5vw;
    color: white;
    background-color: black;
    font-family: "Rubik", sans-serif;
  }

  .aboutus {
    font-size: 3.5vw;
    margin-top: 3%;
  }

  /* .about {
    position: relative;
    font-size: 4.2vw;
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 7%;
  } */

  .footer {
    position: relative;
    bottom: 0;
    left: 0%;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: black;
    height: 7%;
    font-size: 2vw;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-weight: bold;
    z-index: 200000;
  }

  .navbar {
    position: fixed;
    top: 0%;
    width: 100%;
    padding-top: 3em;
    background: rgba(21, 19, 19, 0.9);
    height: 3%;
    padding-bottom: 4%;
    /* padding-left: 44%;
    padding-right: 35%; */
    padding-left: 20%;
    padding-right: 10%;
    z-index: 4;
  }

  .college {
    display: none;
  }

  .collapse {
    background-color: rgba(21, 19, 19, 0.8);
  }
}

/* Position other options menu at the top right end */
.navbar-toggler {
  position: absolute;
  top: 15%;
  right: 5%;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.nav-item {
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, white 50%);
  height: 2%;
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding-top: 0.5%;
  padding-bottom: 0.3%;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in-out;
}

.nav-item:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 6%;
  transition: all 0.5s ease-in-out;
}

.nav-item:hover {
  background-position: 0;
}

.nav-item:hover::before {
  width: 100%;
}

.nav-link::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: coral;
  margin: auto;
  display: block;
}

.nav-link:hover::after {
  width: 100%;
  transition: width 0.5s linear;
}

.footer {
  position: relative;
  bottom: 0%;
  left: 0%;
  margin-top: 10vh;
  width: 100vw;
  height: 1vh;
  background-color: black;
}

.footer-text {
  font-size: 1rem;
}
